DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/...
TARGET_STORE_ID=1234
WALMART_STORE_ID=5678
BESTBUY_STORE_ID=9999
BESTBUY_API_KEY=your_bestbuy_api_key_here
COSTCO_WAREHOUSE_ID=1234
POLL_INTERVAL_SECONDS=60
